---
---

@import "{{ site.theme }}";
.button {
    background-color: #622B86;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    width: 70%;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
  .fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    color: white;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }

  .fa-linkedin {
    background: #622B86;
    color: white;
  }

  .fa-behance {
    background: #622B86;
    color: white;
  }

  .fa-github {
    background: #622B86;
    color: white;
  }

  a{    
    color: #2b2b2b;
    text-decoration: none;

  }

  a:hover{
    color: #2b2b2b;
    text-decoration: none;     
  }